body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f2f2f2;
  font-family: Arial, sans-serif;
}

.calculator {
  background:aqua;
  padding: 20px;
  border-radius: 12px;
  width: 260px;
}

#display {
  width: 100%;
  height: 50px;
  font-size: 24px;
  text-align: right;
  margin-bottom: 15px;
  border-radius: 6px;
  border: none;
  padding-right: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  height: 50px;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.number {
  background: #444;
  color: #fff;
}

.operator {
  background: #ff9500;
  color: #fff;
}

.clear {
  background: #ff3b30;
  color: #fff;
  grid-column: span 2;
}

.equals {
  background: #34c759;
  color: #fff;
  grid-column: span 2;
}

.zero {
  grid-column: span 2;
}

button:hover {
  opacity: 0.9;
}
